In [2]:

import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv(r"C:\Users\annab\OneDrive\Documentos\GitHub\Colabs\bases\data_prema.csv")

In [5]:
atributos_excluir = [
        'CODMUNNASC', 'LOCNASC', 'DTNASC', 'HORANASC', 'PARTO',
        'TPNASCASSI', 'TPAPRESENT', 'PESO', 'APGAR1', 'APGAR5',
        'DTCADASTRO', 'NUMEROLOTE', 'DIFDATA', 'TPDOCRESP', 'CODPAISRES', 'CONTADOR',
        'VERSAOSIST', 'DTRECEBIM', 'DTRECORIGA', 'DTDECLARAC', 'TPROBSON', 'ORIGEM',
        'CODESTAB', 'TPFUNCRESP', 'TPNASCASSI', 'KOTELCHUCK'
    ]

df = df.drop(columns=atributos_excluir)

In [6]:
caminho_pasta = r'C:\Users\SeuUsuario\RECPAD\Processamento'
arquivo_csv = f'{caminho_pasta}\processamento_final.csv'
df.to_csv('df_processed', index=False)

<>:2: SyntaxWarning: invalid escape sequence '\p'
<>:2: SyntaxWarning: invalid escape sequence '\p'
C:\Users\annab\AppData\Local\Temp\ipykernel_3540\3609595235.py:2: SyntaxWarning: invalid escape sequence '\p'
  arquivo_csv = f'{caminho_pasta}\processamento_final.csv'

In [7]:
df

,IDADEMAE,ESTCIVMAE,ESCMAE,CODOCUPMAE,QTDFILVIVO,QTDFILMORT,CODMUNRES,GESTACAO,GRAVIDEZ,CONSULTAS,...,SEMAGESTAC,TPMETESTIM,CONSPRENAT,MESPRENAT,STTRABPART,STCESPARTO,ESCMAEAGR1,STDNEPIDEM,STDNNOVA,PARIDADE
0,29,1.0,9.0,NaN,1.0,1.0,260140,NaN,1.0,3.0,...,NaN,NaN,5.0,NaN,9.0,9.0,9.0,0.0,1,1
1,37,2.0,4.0,999992.0,0.0,0.0,260790,3.0,1.0,4.0,...,30.0,8.0,8.0,1.0,2.0,1.0,6.0,0.0,1,0
2,16,9.0,4.0,621005.0,0.0,0.0,260110,5.0,1.0,3.0,...,39.0,8.0,5.0,3.0,2.0,1.0,4.0,0.0,1,0
3,22,5.0,4.0,621005.0,0.0,0.0,261255,5.0,1.0,4.0,...,38.0,8.0,8.0,1.0,2.0,2.0,6.0,0.0,1,0
4,33,2.0,5.0,NaN,1.0,0.0,260020,5.0,1.0,4.0,...,37.0,8.0,9.0,2.0,2.0,2.0,8.0,0.0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
526363,23,2.0,5.0,111325.0,1.0,0.0,261160,5.0,1.0,4.0,...,38.0,8.0,15.0,1.0,2.0,1.0,8.0,0.0,1,1
526364,24,2.0,3.0,521110.0,1.0,0.0,261510,6.0,1.0,1.0,...,42.0,8.0,NaN,3.0,2.0,1.0,2.0,0.0,1,1
526365,30,2.0,4.0,999992.0,1.0,0.0,261640,5.0,1.0,4.0,...,40.0,8.0,9.0,4.0,2.0,3.0,4.0,0.0,1,1
526366,24,2.0,5.0,331105.0,0.0,0.0,260600,5.0,1.0,4.0,...,38.0,1.0,10.0,1.0,9.0,1.0,8.0,0.0,1,0
526367,23,1.0,4.0,999992.0,0.0,0.0,260040,5.0,1.0,4.0,...,39.0,8.0,9.0,2.0,2.0,1.0,5.0,0.0,1,0